.carousel{

    .d-block{
        height: 80vh;
        padding: 10px;

       
        .tres{
            background: url(../img/imagen-4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
