.banner{
    height: 60vh;
    width: 100%;
    background: url(../img/home/banner/1banner.jpg);
    background-size: cover;
    padding: 10px;

    .banner__titulo{
        height: 80%;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items:flex-end;
    
        h1{
            font-weight: 700;
            color: $contacto;
            text-shadow: 0 4px 4px rgb(0 0 0 / 75%);
        }
    }

}

