.contenedor-contacto{
    display: grid;
    grid-template-columns: 50% 45%;
    background-color:$color-fondo;
    border: 1px solid rgb(207, 205, 205);
    grid-gap: 4px;
    justify-content: space-evenly;
    margin-bottom: 10px;

    .mapa{
        margin: 4px;
        text-align: center;
    }

    .parrafo{
        padding-top: 10px;
        text-align: center;
        align-content: center;
        color: $fuente;

        h3 {
            color: $texto-destaque;
            font-weight: bold;
            padding: 20px 0;
        }

        p{
            font-weight:bold;
            font-size: 1.5vw;
            
        }
    }
}

.contacto{
        color:$amarillo-destaque;
        text-align: center;
        font-weight: bold;
    }

    .formulari-contacto{ 
        margin: 5px;
        background-color:$texto-destaque;
        width: 100%;

        fieldset{
            border: 2px solid $input;
            background-color: $contacto;
            padding: 20px;
            display: grid;
            color: $fuente;
            font-weight: bold;
            grid-template-columns: 35% 65%;

            input{
                grid-column-start: 2;
                grid-column-end: 3;
            }

            #Boton{
                font-weight: bold;
                color: $fuente;
                margin-top: 15px; 
                border: 1px solid $amarillo-destaque;
                transition: .5s;

                &:hover{
                    color: $contacto;
                    background-color:$amarillo-destaque;
                }
            }
        }
    }

