.contenedor-contacto{
    display: flex;
    background-color:$negro;
    border: 2px solid $destaque;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
    padding:10px;
    height: 70vh;

    .mapa{
        margin: 4px;
        text-align: center;
    }

    .parrafo{
        display: flex;
        flex-direction: column;     
        width:99%;
        padding-top: 10px;
        text-align: center;
        align-items: center;
        color: $fuente;

        h3 {
            color: $destaque;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }

        .persona{
            background-image: url(../img/contacto/foto.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 200px;
            height:200px;
            border-radius: 100%;

        }

        .contenedor__parrafo{
            width: 70%;
            padding: 10px;

            p{
                font-size: 1.5vw;
                color: $texto-destaque;
                
            }


        }
       
    }
}

.contacto{
        color:$fuente;
        text-align: center;
        font-weight: bold;
    }

    .formulari-contacto{ 
        margin: 2px;
        background-color:$texto-destaque;
        width: calc(100% - 4px);

        fieldset{
            display: flex;
            flex-wrap: wrap;
            border: 2px solid $input;
            background-color: rgba(250, 146, 1, 0.295);
            padding: 20px;
            color: $fuente;
            font-weight: bold;

            label{
                width: 30%;
                padding: 10px;
            }

            input{
                margin-bottom: 10px;
                width: 60%;
                padding:10px 5px;
                
            }

            textarea{
                padding:10px 5px;
                width: 60%;
            }

            #Boton{
                font-weight: bold;
                background-color:$negro;
                color: $destaque;
                margin-top: 15px; 
                padding: 15px 0px;
                border: 1px solid $negro;
                transition: 1s;
                border-radius: 10px;

                &:hover{
                    transform: scale(1.05);
                    border: 2px solid $destaque;
                    background-color:$negro;
                }
            }
        }
    }

