footer{
    width:100%;
    background-color: $negro;
    height: 150px;

    .contenedor-footer{
        margin: auto;
        display: flex;
        width:80%;
        justify-content: space-evenly;
        align-items: center;
        background-color:$negro;
        height: 80%;

        a {
           
            .fa-brands{
                color:$texto-destaque;
                font-size: 20px;
            }
        }

    
    }

    .footer-licencia{
        background-color: $texto-destaque;
        text-align: center;
        font-weight:700;
        color:$negro;
        padding:5px 0;
    }

}
