header{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $texto-destaque;

    .img__logo{
        width: 10vw;
        height: 10vw;
        min-width: 80px;
        min-height: 80px;
        background-size: contain;
    }

}