nav{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    .fa-house{
        display: none;
        visibility: hidden; 
        font-size: 24px;
        color:$destaque;
    }

    .menu{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        margin: 0%;

        .menu__list{
            list-style: none;
            margin-left: 15px;
            padding: 10px 25px;
            transition: 1s;
        
        &:hover{
            background-color:$amarillo-destaque;
            border-radius: 10px;
            color:$contacto;

        }

        .menu__list-item{
                text-decoration: none;
                color: $fuente;
                font-weight: 800;
                font-size: 18px; 
                text-transform:uppercase;
                transition: 1s;
                
                &:hover{
                    color:$contacto;
                }
            }

            .destaque{
                color:$destaque;
            }
            
        }

        
    }
    
}