@charset "UTF-8";
body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .img__logo {
  width: 150px;
  height: 100px;
  background-size: contain;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
nav .fa-house {
  display: none;
  visibility: hidden;
  font-size: 28px;
  color: #2a7ae4;
}
nav .menu {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
}
nav .menu .menu__list {
  list-style: none;
  margin-left: 15px;
  padding: 10px 25px;
  transition: 1.8s;
}
nav .menu .menu__list.menu__list:hover {
  background-color: #efcd0e;
  border-radius: 10px;
}
nav .menu .menu__list .menu__list-item {
  text-decoration: none;
  color: #787676;
  font-weight: 800;
  font-size: 18px;
}
nav .menu .menu__list.menu__list-item:hover {
  color: #Eaf2fd;
}

.banner {
  height: 60vh;
  width: 100%;
  background: url(../img/pexels-i̇sra-nilgün-özkan-14434831.jpg);
  background-size: cover;
  padding: 32px;
}
.banner .banner__titulo {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner .banner__titulo h1 {
  font-weight: 700;
  color: #Eaf2fd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

h2 {
  color: #787676;
  text-align: center;
  padding: 30px;
  font-weight: 700;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.producto {
  display: grid;
  align-content: end;
  background-color: var(--texto-destaque);
  margin: 1.5vw;
  padding: 10px;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 5px;
}
.producto a {
  text-decoration: none;
}
.producto a .producto__imagen {
  width: 100%;
}
.producto a .producto__nombre, .producto a .card-title, .producto a .producto__precio, .producto a .card-text {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.producto a .producto__nombre:hover, .producto a .card-title:hover, .producto a .producto__precio:hover, .producto a .card-text:hover {
  color: #2a7ae4;
}
.producto a .producto__precio, .producto a .card-text {
  font-size: 20px;
  font-weight: 700;
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.881);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.light-box:target {
  transform: scale(1);
}
.light-box .close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: red;
  color: #Eaf2fd;
  text-decoration: none;
  width: 40px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.light-box img {
  width: 30%;
  padding-top: 0;
  margin-left: 20vw;
}
.light-box .producto__diponibilidad {
  display: block;
  padding-top: 3px;
  margin-bottom: 20px;
  background-color: #000000;
  width: 100%;
  height: 300px;
  text-align: center;
  flex-grow: 1;
  max-height: 280px;
}
.light-box .producto__diponibilidad h2 {
  color: #Eaf2fd;
}

footer {
  width: 100%;
  background-color: #000000;
  height: 150px;
}
footer .contenedor-footer {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  height: 80%;
}
footer .contenedor-footer a .fa-brands {
  color: white;
  font-size: 35px;
}
footer .footer-licencia {
  background-color: white;
  text-align: center;
  font-weight: 700;
  color: #000000;
  padding: 5px 0;
}