body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .img__logo {
  width: 10vw;
  height: 10vw;
  min-width: 80px;
  min-height: 80px;
  background-size: contain;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
nav .fa-house {
  display: none;
  visibility: hidden;
  font-size: 24px;
  color: rgb(249, 140, 8);
}
nav .menu {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
}
nav .menu .menu__list {
  list-style: none;
  padding: 10px 20px;
  transition: 1s;
}
nav .menu .menu__list:hover {
  background-color: #efcd0e;
  border-radius: 10px;
  color: #Eaf2fd;
}
nav .menu .menu__list .menu__list-item {
  text-decoration: none;
  color: #787676;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  transition: 1s;
}
nav .menu .menu__list .menu__list-item:hover {
  color: #Eaf2fd;
}
nav .menu .menu__list .destaque {
  color: rgb(249, 140, 8);
}

.banner {
  height: 70vh;
  width: 100%;
  background: url(../img/home/banner/1banner.jpg);
  background-size: cover;
  padding: 10px;
}
.banner .banner__titulo {
  height: 80%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
}
.banner .banner__titulo h1 {
  font-weight: 700;
  color: #Eaf2fd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.banner__calzado {
  height: 70vh;
  width: 100%;
  background: url(../img/calzados/baner-base.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: flex;
}
.banner__calzado img {
  width: 50%;
}
.banner__calzado .banner-contenedor__titulo-calzado {
  width: 50%;
  height: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-start;
}
.banner__calzado .banner-contenedor__titulo-calzado .banner__titulo-calzado {
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
  text-shadow: 0 4px 4px rgba(228, 118, 8, 0.75);
  line-height: 1.6;
  color: white;
}

.carousel .d-block {
  height: 80vh;
  padding: 10px;
}
.carousel .d-block .tres {
  background: url(../img/imagen-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  color: #787676;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.producto {
  display: grid;
  align-content: end;
  background-color: white;
  margin: 1.5vw;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  transition: 1s;
}
.producto:hover {
  transform: scale(1.05);
}
.producto a {
  text-decoration: none;
}
.producto a .producto__imagen {
  width: 100%;
}
.producto a .producto__informacion {
  background-color: #efefef;
  padding: 10px 0px;
}
.producto a .producto__informacion .producto__nombre, .producto a .producto__informacion .producto__precio {
  font-size: 2.5vw;
  font-size: 20px;
  color: #787676;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.producto a .producto__informacion .producto__precio, .producto a .producto__informacion .card-text {
  font-size: 20px;
  font-weight: 700;
}

article {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.881);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
article img {
  width: 50%;
  padding-top: 0;
  margin-left: 10vw;
}
article:target {
  transform: scale(1);
}
article .close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: red;
  color: #Eaf2fd;
  text-decoration: none;
  width: 40px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
article .producto__diponibilidad {
  display: block;
  padding-top: 3px;
  margin-bottom: 20px;
  background-color: #000000;
  width: 100%;
  text-align: center;
  flex-grow: 1;
  max-height: 280px;
}
article .producto__diponibilidad h2 {
  color: #Eaf2fd;
}

footer {
  width: 100%;
  background-color: #000000;
  height: 150px;
}
footer .contenedor-footer {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
  height: 80%;
}
footer .contenedor-footer a .fa-brands {
  color: white;
  font-size: 30px;
}
footer .footer-licencia {
  background-color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #000000;
  padding: 5px 0;
}

.contenedor-contacto {
  display: flex;
  background-color: #000000;
  border: 2px solid rgb(249, 140, 8);
  justify-content: space-evenly;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
  height: 70vh;
}
.contenedor-contacto .mapa {
  margin: 4px;
  text-align: center;
}
.contenedor-contacto .parrafo {
  display: flex;
  flex-direction: column;
  width: 99%;
  padding-top: 10px;
  text-align: center;
  align-items: center;
  color: #787676;
}
.contenedor-contacto .parrafo h3 {
  color: rgb(249, 140, 8);
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.contenedor-contacto .parrafo .persona {
  background-image: url(../img/contacto/foto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.contenedor-contacto .parrafo .contenedor__parrafo {
  width: 70%;
  padding: 10px;
}
.contenedor-contacto .parrafo .contenedor__parrafo p {
  font-size: 2vw;
  color: white;
}

.contacto {
  color: #787676;
  text-align: center;
  font-weight: bold;
}

.formulari-contacto {
  margin: 2px;
  background-color: white;
  width: calc(100% - 4px);
}
.formulari-contacto fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #efefef;
  background-color: rgba(250, 146, 1, 0.295);
  padding: 20px;
  color: #787676;
  font-weight: bold;
}
.formulari-contacto fieldset label {
  width: 30%;
  padding: 10px;
}
.formulari-contacto fieldset input {
  margin-bottom: 10px;
  width: 60%;
  padding: 10px 5px;
}
.formulari-contacto fieldset textarea {
  padding: 10px 5px;
  width: 60%;
}
.formulari-contacto fieldset #Boton {
  font-weight: bold;
  background-color: #000000;
  color: rgb(249, 140, 8);
  margin-top: 15px;
  padding: 15px 0px;
  border: 1px solid #000000;
  transition: 1s;
  border-radius: 10px;
}
.formulari-contacto fieldset #Boton:hover {
  transform: scale(1.05);
  border: 2px solid rgb(249, 140, 8);
  background-color: #000000;
}

@media all and (max-width: 575px) {
  header {
    justify-content: space-evenly;
  }
  header .img__logo {
    display: flex;
    width: 80px;
    height: 80px;
  }
  header nav {
    justify-content: start;
    padding-left: 20px;
    z-index: 30;
  }
  header nav .fa-house {
    display: inline-block;
    visibility: visible;
    text-align: left;
  }
  header nav .fa-house:hover + .menu {
    left: 0;
  }
  header nav .menu {
    position: fixed;
    top: 0;
    left: -400px;
    padding: 0px;
    flex-direction: column;
    background-color: #000;
    width: 70vw;
    height: 100vh;
    transition: 2.5s;
  }
  header nav .menu:hover {
    left: 0;
  }
  header nav .menu .menu__list {
    padding: 30px 0;
    text-align: center;
    border-bottom: 2px solid #787676;
    margin: 0px;
    transition: 2s;
  }
  header nav .menu .menu__list:hover {
    border-radius: 0;
  }
  .banner {
    background-position: center;
  }
  .banner__calzado {
    height: 25vh;
  }
  .carousel .d-block {
    height: 40vh;
  }
  .grid {
    grid-template-columns: 50% 50%;
  }
  .grid .item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .grid a .producto__imagen {
    width: 100%;
  }
  .grid a .producto__informacion .producto__nombre, .grid a .producto__informacion .producto__precio {
    font-size: 16px;
    margin: 0.6rem 0;
  }
  .grid a .producto__informacion .producto__precio, .grid a .producto__informacion .card-text {
    font-size: 14px;
  }
  article {
    background: rgba(0, 0, 0, 0.5);
    height: 200vh;
    z-index: 1;
    display: block;
  }
  article img {
    width: 100%;
  }
  article .producto__diponibilidad {
    padding-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 230px;
  }
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border: 4px solid #000000;
    height: auto;
  }
  .contenedor-contacto .mapa {
    background-color: #000000;
    width: 100%;
  }
  .contenedor-contacto .mapa iframe {
    width: 100%;
  }
  .contenedor-contacto .parrafo .contenedor__parrafo p {
    font-size: 4vw;
  }
  .contacto fieldset {
    display: flex;
    font-size: 3.4vw;
  }
  .contacto fieldset label {
    width: 100%;
  }
  .contacto fieldset input {
    width: 100%;
  }
  .contacto fieldset textarea {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  header {
    height: 80px;
  }
  header .img__logo {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .grid .item-1 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .grid a .producto__informacion .producto__nombre, .grid a .producto__informacion .producto__precio {
    font-size: 16px;
  }
  .light-box img {
    padding-top: 40px;
    margin-left: 5vw;
    width: 40%;
  }
  .light-box .producto__diponibilidad {
    padding-top: 3px;
    margin-bottom: 15px;
    height: 230px;
  }
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .contenedor-contacto .mapa {
    margin: 4px;
    background-color: #000000;
    width: 100%;
  }
  .contenedor-contacto .mapa iframe {
    width: 100%;
  }
  .contenedor-contacto .parrafo .contenedor__parrafo p {
    font-size: 3vw;
  }
  fieldset {
    font-size: 2.5vw;
  }
  footer a .fa-brands {
    color: white;
    font-size: 16px;
  }
  .banner__calzado {
    height: 40vh;
  }
}