@media all and (max-width:575px){
    header{
        justify-content: space-evenly;

        .img__logo{
            display: flex;
            width: 80px;
            height: 80px;

        }


        nav{
            justify-content: start;
            padding-left: 20px;
            z-index: 30;

            .fa-house{
                display: inline-block;
                visibility: visible; 
                text-align: left;

                &:hover {

                    +.menu{
                        left:0;
                    }
                    
                }
            }

            .menu{
                position: fixed;
                top:0;
                left:-400px;
                padding:0px;
                flex-direction: column;
                background-color: #000;
                width: 70vw;
                height: 100vh;
                transition: 2.5s;

                &:hover{
                    left:0;
                }

                .menu__list{
                    padding: 30px 0;
                    text-align: center;
                    border-bottom: 2px solid $fuente;
                    margin:0px;
                    transition: 2s;

                    &:hover{
                        border-radius: 0;
                    }

                }
                
            }
        }
    }

    .banner{
        background-position: center;
       
    }

    .banner__calzado{
        height: 25vh;
    }
    

    .carousel{

        .d-block{
            height: 40vh;
        }
    }

    .grid{
        grid-template-columns: 50% 50%;

        .item-1{
            grid-column-start: 1;
            grid-column-end: 2;
        }

        a{
            .producto__imagen{
                width: 100%;
            }
    
            .producto__informacion{
                    
                .producto__nombre, .producto__precio{
                    font-size: 16px ;
                    margin: 0.6rem 0;              
                }
    
                .producto__precio , .card-text{
                    font-size: 14px;
                }
            }
    
        }
    }

    article{
        background: rgba(0, 0, 0, .5);
        height: 200vh;
        z-index: 1;
        display: block;

        img{
            width: 100%;
        }
        
        .producto__diponibilidad{
            padding-top: 10px;
            margin-bottom: 15px;
            width: 100%;
            height: 230px;  
        }
    
    }

    .contenedor-contacto{
        display: flex;
        flex-direction: column;  
        background-color: $negro;
        border: 4px solid $negro;
        height: auto;

        .mapa{
            background-color: $negro;
            width: 100%;

            iframe{
                width: 100%;
            }
        }

        .parrafo{
            .contenedor__parrafo{
                p{
                    font-size: 4vw;
                }
            }
            
        }
    }

    .contacto{
        fieldset{
            display: flex;
            font-size: 3.4vw;
            
            label{
                width: 100%;
            }

            input{
                width: 100%;  
            }

            textarea{
                width: 100%;
            }
        }
       
    }

}